.clients-card-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-card-set__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 210px;
  height: 92px;
  background-color: var(--primary-background-color);
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;

  transition: color var(--transition-dur-and-func),
    border var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients-card-set__icon {
  display: flex;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .clients-card-set__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-card-set__link {
    width: 170px;
  }
}
