.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 15px 8px;
}

@media screen and (max-width: 767px) {
.project-list__item:not(:last-child) {
margin-bottom: 30px;
}
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
    margin-bottom: 30px;
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
  }

  .project-list__item {
    flex-basis: var(--tablet);
    transition: box-shadow var(--transition-dur-and-func);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }

  .project-list__item {
    flex-basis: var(--secondary-desktop);
  }
}

.filter-list__btn {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
  background: var(--tertiary-background-color);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;

  padding: 6px 22px;

  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--tertiary-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.project-list__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  color: var(--secondary-color);
}

.project-list__text {
  font-size: var(--secondary-font-size);
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.project-list__card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: var(--primary-background-color);
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-list__wrapper {
  position: relative;
  overflow: hidden;
}

.project-list__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--tertiary-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--transition-dur-and-func);

  .project-list__link:hover &,
  .project-list__link:focus & {
    transform: translateY(0);
  }
}
